body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 20px auto 40px;
  width: 960px;
}

h1, h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.contain {
  overflow: hidden;
}

.collapsed, .uncollapsed {
  width: 40%;
  float: left;
  margin-right: 30px;
}

code {
  border: 1px solid #ccc;
  background-color: #eee;
  display: block;
  margin: 0;
  padding: 10px;
}
pre {
  margin: 0;
}

.fake-link
{
  color: #0091EB;
}

.owner
{
  float: right;
  margin: 0;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}
.owner a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

ul {
  margin: 10px 0 0; 
  padding: 0; }
  ul i, ul b {
    color: black;
    font-style: normal; }
  ul ul {
    margin: 3px 0 0 20px;
    padding: 0; }
  ul li {
    padding: 0 0 3px;
    list-style-type: none;
    margin: 0;
    color: #666666; }

/* calendar metro style*/
.calendar { position:absolute;  -webkit-transition:height 0.1s ease-in;border-radius: 5px;border: 1px solid #ccc;visibility: hidden;height:0px;overflow:hidden;-webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12); }
.metro .calendar_inner{padding:5px; background:#fff; font-weight:bold;border-radius: 5px; text-align:center; }
.metro .calendar_month { height:44px; line-height:44px; padding:0 10px; border-bottom:1px dotted #cfcfcf; }
.metro .calendar_month h3 { display:inline-block; font-size:15px; color:#666; padding:0px;margin:0px;}
.metro .calendar_month a { position:relative; font-size:14px; color:#7cc2fd; text-decoration: none;}
.metro .calendar_month a:after { position:absolute; content:""; top:16px; width:8px; height:8px; -webkit-transform:rotate(45deg); }
.metro .calendar_month a:nth-of-type(1) { float:left; padding-left:12px; }
.metro .calendar_month a:nth-of-type(2) { float:right; padding-right:12px; }
.metro .calendar_month a:nth-of-type(1):after { left:0; border-left:3px solid #7cc2fd; border-bottom:3px solid #7cc2fd; }
.metro .calendar_month a:nth-of-type(2):after { right:0; border-top:3px solid #7cc2fd; border-right:3px solid #7cc2fd; }
.metro .calendar_day { width:100%; border-collapse:collapse; border:none; }
.metro .calendar_day th { height:20px; line-height:20px; background:#f4f4f4; border-bottom:2px solid #fff; font-size:14px; font-weight:normal; color:#666; }
.metro .calendar_day .weekend { color: #9bc348; }
.metro .calendar_day a { text-decoration: none;display:block; height:30px; line-height:30px; background:#f4f4f4; border:2px solid #fff; font-size:15px; color:#333; }
.metro .calendar_day .day_no { background:#fff; cursor:default; -webkit-tap-highlight-color:rgba(0,0,0,0); }
.metro .calendar_day .day_invalid { background:#e5e5e5; color:#999; cursor:default; -webkit-tap-highlight-color:rgba(0,0,0,0); }
.metro .calendar_day .day_today { background:#fff3db; }
.metro .calendar_day .day_selected,.calendar_day .day_checkIn,.calendar_day .day_checkOt { background:#b1d073; color:#fff; }

/* calendar zendark style*/
.zendark .calendar_inner{background:#fff; font-weight:bold;border-radius: 5px; text-align:center; }
.zendark .calendar_month { height:44px; line-height:44px; background: #383838; color:#E0E0E0; 
-webkit-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0, 0, 0, 0.3);
border: 1px solid #373737;
text-shadow: 0 -1px 0 black;}
.zendark .calendar_month h3 { display:inline-block; font-size:12px; padding:0px;margin:0px;}
.zendark .calendar_month a { position:relative; font-size:9px;  text-decoration: none; color:#E0E0E0;}
.zendark .calendar_month a:nth-of-type(1) { float:left; padding-left:20px; }
.zendark .calendar_month a:nth-of-type(2) { float:right; padding-right:20px; }
.zendark .calendar_day { width: 100%; border-collapse: collapse; border: none; font-size: 13px; }
.zendark .calendar_day th { height: 25px; line-height: 25px; background: #f2f2f2; border-bottom: 1px solid #c7c7c7; color: #666; }
.zendark .calendar_day .week_sun { color: #ff9c00; }
.zendark .calendar_day .week_sat { color: #009c43; }
.zendark .calendar_day td{padding:0px;}
.zendark .calendar_day a { text-decoration: none;display: block; height: 30px; line-height: 30px; background: #f6f6f6; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0)); border-top: 1px solid #fff; border-right: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; color: #333; }
.zendark .calendar_day .day_no { background: #fff; cursor: default; -webkit-tap-highlight-color: rgba(0,0,0,0); }
.zendark .calendar_day .day_invalid { color: #999; cursor: default; -webkit-tap-highlight-color: rgba(0,0,0,0); }
.zendark .calendar_day .day_today { background: #fff3db; background: -webkit-gradient(linear, left top, left bottom, from(#fff8e8), to(#fdeecf)); }
.zendark .calendar_day .day_selected {color: white;
border: 1px solid #467B89;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
background: #6EAFBF;
background: -moz-radial-gradient(50% 50% 0deg,ellipse cover, #6EAFBF, #569EB1);
background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 20, from(#6EAFBF), to(#569EB1)); }


